apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  labels:
    app: spring-boot-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: tejachittamuri/springbootappcicd:1
        ports:
        - containerPort: 8080

---
apiVersion: v1 
kind: Service
metadata:
  name: springg-boot-app-service
  labels:
    app: spring-boot-app
spec:
  type: NodePort
  selector:
    app: spring-boot-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30003
